saves/*
schematics/*
crash-reports/*
music_sheets/*
logs/*
resourcepacks/*
usercache.json
usernamecache.json
shaderpacks/*
screenshots/
essential/
irisUpdateInfo.json
heracles_options.json
fancymenu_data/
ModTranslations/
options.txt
profile.json